@mixin section_title ($b_color)
{
    background-color: $b_color;
    color: white;
    border: solid white 8px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    padding: 15px 0px;
    &:hover
    {
        background-color: black;
        cursor: pointer;
    }

}

body
{
    background-image: url(../media/fondo.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
}

.Descripcion
{
    color: white;
    font-weight: bold;
    font-size: 24px;
    margin: auto;
    margin-top: 150px;
    padding: 10px 20px;
    width: 80%;
    background-color: rgba(0, 17, 65, 0.75);
}

.MiCabecera
{
    z-index: 100 !important ;
    background-color: white;
    border-bottom: solid black 10px;
    .MiCabecera__icono
    {
        padding: 10px;
        width: 80px;
    }
}

.MiContenedor
{
    width: 80%;
    margin: auto;
    margin-top: 200px;
    border: 5px solid white;
    border-radius: 15px;
    background-color: cadetblue;
}

.MiFormulario
{
	margin: auto;
    margin-top: 50px;

    .MiFormulario__campo
    {
        opacity: 0.0;
        width: 100%;
        margin-bottom: 40px;
    }
    .MiFormulario__item
    {
        display: block;
        font-size: 20px;
        width: 50%;
        margin: auto;
        border: solid white 5px;
        border-radius: 15px;
        background-color: rgba(128, 128, 128, 0.233);
        text-align: center;
        height: 75px;
        color: white;

        &:focus-visible
        {
            outline: none;
        }
    }
    .MiFormulario__item--boton
    {
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 2.5px;
        border: solid white 5px;
        background-color: #0057bb;
        color: white;
        &:hover
        {
            background-color: black;
        }
    }
    .MiFormulario__item--calc
    {
        background-color: rgb(255, 181, 44);
    }
    .MiFormulario__item--monto
    {
        border: solid rgb(255, 181, 44) 8px;
    }
    .inputCompletado
    {
        font-size: 20px;
        width: 50%;
        margin: auto;
        margin-top: 10px;
        background-color: rgb(6, 71, 0);
        text-align: center;
        padding: 10px 20px;
        color: white;
        border-radius: 15px;
    }
}

.MiFormulario--monto
{
    margin-top: 50px;
    #campo_Monto
    {
        margin-bottom: 0px;
    }
    .MiFormulario__item--monto
    {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .MiFormulario__item--boton
    {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .MiFormulario__item--calc
    {
        border: solid 8px rgb(255, 181, 44);
    }
}

.SeccionClientes
{
    display: none;
    margin-top: 40px;
    .SeccionClientes__headSection
    {
        display: flex;
        justify-content: space-between;
    }
    .SeccionClientes__titulo
    {
        @include section_title(#0057bb)
    }
    .SeccionClientes__listaClientes
    {
        list-style: none;
        font-size: 18px;
        padding: 0px 10px;
        li
        {
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            margin-bottom: 20px;
            padding: 20px;
        }
    }
    .SeccionClientes__section
    {
        margin: 20px;
        padding: 15px;
    }
    .SeccionClientes__section--current
    {
        background-color: rgba(250, 58, 0, 0.5);
    }
    .SeccionClientes__section--saved
    {
        background-color: rgba(9, 133, 235, 0.5);
    }
    .SeccionClientes__section--selected
    {
        background-color: rgba(253, 0, 97, 0.5);
    }
    .SeccionClientes__sectionTitulo
    {
        color: white;
        font-size: 24px;
        font-weight: bold;
    }
    .SeccionClientes__contenido
    {
        transition: 1s all;
    }
    .SeccionClientes__btnSelect
    {
        width: 130px;
        height: 45px;
        font-size: 16px;
        font-weight: bold;
        display: block;
        border: none;
        border-radius: 30px;
        margin-top: 15px;
        padding: 10px 20px;
        background-color: rgb(255, 181, 44);
        &:active
        {
            font-size: 14px;
        }
        &:hover
        {
            color: white;
            background-color: black;
        }
    }
    .SeccionClientes__btnHide
    {
        color: white;
        background-color: black;
        border: solid white 4px;
        height: 40px;
        width: 40px;
        border-radius: 40px;
        &:active
        {
            font-size: 10px;
        }
        &:hover
        {
            color: black;
            background-color: white;
            border-color: black;
        }
    }
}

.SeccionCalculo
{
    display: none;
    margin-top: 20px;
    .SeccionCalculo__titulo
    {
        @include section_title(rgb(250, 142, 0))
    }
    .SeccionCalculo__listaCalculo
    {
        color: white;
        list-style: none;
        font-size: 18px;
        li
        {
            padding: 10px 0px;
            background-color: black;
        }
    }
}

.MiLoaderScreen
{
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background: rgb(4,0,65);
    background: linear-gradient(90deg, rgba(4,0,65,1) 0%, rgba(9,9,121,1) 35%, rgba(0,104,181,1) 100%);
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    font-weight: bold;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    // transition: all 1s ease-out 1s;
}